.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

::-webkit-scrollbar {
  width: 25px;
}
::-webkit-scrollbar-track {
  background: #181819de;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(105, 105, 105, 0.856);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 134, 134);
}

a.dropdown-item {
  padding: 3%;
}
.dropdown-menu {
  width: 12.5rem;
}
.dropdown-menu.show{
  background: rgba(128, 128, 128, 0.11);
}

.dropdown-menu.show:hover{
  background-color: none;
}

.dropdown-item:focus,.dropdown-item:hover, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0) !important;
}
.dropdown-item.active, .dropdown-item:active {
  color: none;
  text-decoration: none;
  background-color: none;
}
#stats1{
  z-Index: 3;
  position: absolute;
  margin: 1rem;
  /* background: #29282879; */
  background: linear-gradient(to bottom, #68686817 0%, #1f1f1fd2 100%);
  /* left: 4rem; */
  padding: 0.2rem;
  border-Radius: 5px;
  
}

#stats2 .dropdown-menu.show {
  top: -35rem !important; 
  background: rgba(128, 128, 128, 0);
  border: none;
}
#stats2{
  right:0rem;
  z-Index: 300;
  position: absolute;
  bottom: 0rem;
  margin: 1rem;
  /* background: #29282879; */
  background: linear-gradient(to bottom, #68686817 0%, #1f1f1fd2 100%);
  /* background: ivory; */
  /* left: 4rem; */
  padding: 0.2rem;
  border-Radius: 5px;
  
}
#stats{
  z-Index: 3;
  position: absolute;
  margin: 1rem;
  /* background: #29282879; */
  background: linear-gradient(to bottom, #68686817 0%, #1f1f1fd2 100%);
  left: 3.7rem;
  padding: 0.2rem;
  border-Radius: 5px;
}
.col-form-label{
  color:white;
  display: block;
}
.form-control{
  width: 7rem !important;
  background: rgba(253, 253, 253, 0.808) !important;

}
form{
  width: auto;
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
